# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


PORT='8397'
DATABASE_URL=""
ACCESS_TOKEN_SECRET='ACCESS_TOKEN_SECRET'
ACCESS_TOKEN_EXPIRED='1d'
REFRESH_TOKEN_SECRET='REFRESH_TOKEN_SECRET'
REFRESH_TOKEN_EXPIRED='7d'

CLOUD_NAME=""
API_KEY_CLOUD=""
API_SECRET_CLOUD=""

FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""
FACEBOOK_CALLBACK_URL=""

ACCESS_KEY_MOMO=""
SECRET_KEY_MOMO=""

MAILDEV_INCOMING_USER=""
MAILDEV_INCOMING_PASS=""